table tbody tr td{
    padding: 5px !important;
}
table thead tr th{
    padding: 5px !important;
text-align: left !important;
}
.break-word {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    padding: 5px;
}