
<div class="container-fluid mt-4">
    <div class="card">
      <div class="card-header text-white">
        <div class="ribbon ribbon-clip ribbon-primary">SUB ADMIN PLUS MINUS</div>
      </div>
      <div class="card">
        <div class="card-header text-white">
          <div class="ribbon ribbon-clip ribbon-secondary">MasterAgent : MA7071 ayush2</div>
        </div>
        <div class="card">
          <div class="card-header text-white">
          <div class="ribbon ribbon-clip ribbon-success">SuperAgent : SA20106 ayush2</div>
          </div>
          <div class="card">
            <div class="card-header  text-white">
          <div class="ribbon ribbon-clip ribbon-danger"> Agent : A75289 Ayush Agent C2</div>
            </div>
            <div class="card-body">
              <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Agent PlusMinus</th>
                      <th>Super Agent PlusMinus</th>
                      <th>Master Agent PlusMinus</th>
                      <th>Sub Admin PlusMinus</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <table class="table table-bordered mb-0">
                          <thead>
                            <tr>
                              <th>CLIENT</th>
                              <th>M AMT</th>
                              <th>S AMT</th>
                              <th>TOTAL AMT</th>
                              <th>M COM</th>
                              <th>S COM</th>
                              <th>TOT COM</th>
                              <th>NET AMT</th>
                              <th>SHR AMT</th>
                              <th>MOB APP</th>
                              <th>FINAL</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>Agent : A75289 Ayush Agent C2</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="table table-bordered mb-0">
                          <thead>
                            <tr>
                              <th>M COM</th>
                              <th>S COM</th>
                              <th>TOL COM</th>
                              <th>NET AMT</th>
                              <th>SHR AMT</th>
                              <th>MOB APP</th>
                              <th>FINAL</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                            </tr>
                            <tr>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="table table-bordered mb-0">
                          <thead>
                            <tr>
                              <th>M COM</th>
                              <th>S COM</th>
                              <th>TOL COM</th>
                              <th>NET AMT</th>
                              <th>SHR AMT</th>
                              <th>MOB APP</th>
                              <th>FINAL</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                            </tr>
                            <tr>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td>
                        <table class="table table-bordered mb-0">
                          <thead>
                            <tr>
                              <th>M COM</th>
                              <th>S COM</th>
                              <th>TOL COM</th>
                              <th>NET AMT</th>
                              <th>SHR AMT</th>
                              <th>MOB APP</th>
                              <th>FINAL</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                              <td>0.00</td>
                            </tr>
                            <tr>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
              
            </div>
          </div>
          <div class="super-table-container rtl-scroll">
            <div class="table-responsive">
                <table class="table table-bordered super-table">
                <tr>
                <th>SA</th>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>

                </tr>
        </table></div></div>
        </div>
      </div>
    </div>
  </div>
  