<div class="row" >
    <div class="col-md-12 stretch-card">
      <div class="card">
          <div class="card-header">
            <button class="btn btn-pill btn-info btn-air-info active" placement="top" ngbTooltip="btn btn-info sidebar-header btn-air-info btn-pill" routerLinkActive="active" (click)="createAgentData()">ADD <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
            <button class="btn btn-pill btn-air-success btn-success"  ngbTooltip="btn btn-pill btn-air-success btn-success"  style="margin: 5px;" (click)="setAllActive()" >All Active</button>
            <button class="btn btn-pill btn-air-danger btn-danger" ngbTooltip="btn btn-pill btn-air-danger btn-danger" style="margin: 5px;" (click)="setAllDeActive()">All DeActive</button>
            <button class="btn btn-pill btn-info btn-air-info active" placement="top" ngbTooltip="btn btn-info sidebar-header btn-air-info btn-pill" [routerLink]="['/agent/agent-limit']"  routerLinkActive="active"  *ngIf="currentUserRole === UserRole">Update Limit</button>
        </div>
        <div class="card-body">
          <div class="table-responsive ">
            <div class="left">
                <div class="item-per-page">
                  <!-- <h6 style="margin-top: 15px;">Per Pages: </h6> -->
  
                  <select class="form-select form-control-sm" [(ngModel)]="pageSize" (change)="onPageSizeChange()" >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                </div>
                <div class="search">
                  <h6 style="margin-top: 15px;">Search: </h6>
                  <input type="search" class="form-control form-control-sm">
                </div>
            </div>
            <table class="table table-bordered table-hover table-sm table-striped">
              <thead>
              <tr>
                <th style="text-align: center;">#</th>
                <th (click)="sortData('code')">Code 
                  <i [class]="sort.column === 'code' && sort.direction === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
                </th>
                <th (click)="sortData('name')">Name 
                  <i [class]="sort.column === 'name' && sort.direction === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
                </th>
                <th (click)="sortData('reference')">Reference
                  <i [class]="sort.column === 'reference' && sort.direction == 'asc' ? ' fa fa-arrow-up' :'fa fa-arrow-down'"></i> 
                </th>
                <th (click)="sortData('password')">Password
                  <i [class]="sort.column === 'password' && sort.direction == 'asc' ? ' fa fa-arrow-up' :'fa fa-arrow-down'"></i> 
                </th>
                <th (click)="sortData('contactNo')">Contact No
                  <i [class]="sort.column === 'contactNo' && sort.direction == 'asc' ? ' fa fa-arrow-up' :'fa fa-arrow-down'"></i> 
                </th>
                <th (click)="sortData('current')"> Limit
                  <i [class]="sort.column === 'current' && sort.direction == 'asc' ? ' fa fa-arrow-up' :'fa fa-arrow-down'"></i> 
                </th>
                <th (click)="sortData('share')">Share
                  <i [class]="sort.column === 'share' && sort.direction == 'asc' ? ' fa fa-arrow-up' :'fa fa-arrow-down'"></i> 
                </th>
                <!-- <th (click)="sortData('cShare')">Casino Share
                  <i [class]="sort.column === 'cShare' && sort.direction == 'asc' ? ' fa fa-arrow-up' :'fa fa-arrow-down'"></i> 
                </th>
                <th (click)="sortData('icShare')">IC Share
                  <i [class]="sort.column === 'icShare' && sort.direction == 'asc' ? ' fa fa-arrow-up' :'fa fa-arrow-down'"></i> 
                </th>
                <th (click)="sortData('mShare')">Mobile Share
                  <i [class]="sort.column === 'mShare' && sort.direction == 'asc' ? ' fa fa-arrow-up' :'fa fa-arrow-down'"></i> 
                </th> -->
                <th (click)="sortData('mc')">MC
                  <i [class]="sort.column === 'mc' && sort.direction == 'asc' ? ' fa fa-arrow-up' :'fa fa-arrow-down'"></i> 
                </th>
                <th (click)="sortData('share')">SC
                  <i [class]="sort.column === 'sc' && sort.direction == 'asc' ? ' fa fa-arrow-up' :'fa fa-arrow-down'"></i> 
                </th>
                <th (click)="sortData('cc')">CC
                  <i [class]="sort.column === 'cc' && sort.direction == 'asc' ? ' fa fa-arrow-up' :'fa fa-arrow-down'"></i> 
                </th>
                <th>Status
                </th>
              </tr>
              </thead>
              <tbody>
  
              <!-- <tr *ngFor="let row of data?.data?.content;index as i"> -->
              <tr *ngFor="let row of data;index as i">
  
                <td  style="text-align: center;">
                  <div class="dropdown ">
                    <div ngbDropdown>
                      
                    <!-- {{(i+1) + (data.data.number *25)}} -->
                      <button class="btn btn-link btn-sm" id="dropdownButtonLg" ngbDropdownToggle> {{ (currentPage - 1) * pageSize + i + 1 }}</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="getSingleId(row.id,row.superId)">Edit</button>
                        <button ngbDropdownItem (click)="clientLimit(row.id)">Client Limit</button>
                      </div>
                    </div></div>
                </td>
                <td>{{row.code}}</td>
                <td>{{row.name}}</td>
                <td>{{row.reference}}</td>
                <td>{{row.password}}</td>
                <td>{{row.contactNo}}</td>
                <td>{{row.currentLimit}}</td>
                <td>{{row.share}}</td>
                <!-- <td>{{row.cshare}}</td>
                <td>{{row.icShare}}</td>
                <td>{{row.mobileShare}}</td> -->
                <td>{{row.mc}}</td>
                <td>{{row.mc}}</td>
                <td>{{row.cc}}</td>
                <td>
                  <span class="badge"
                        [ngClass]="row.status ? 'bg-success':'bg-danger'">{{row.status ? 'Active' : 'Inactive' }}</span>
                </td>
              </tr>
              <tr><td colspan="11" style="text-align: center;" *ngIf="data.length == 0 ">No Data Available</td></tr>
              </tbody>
              <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              </tfoot>
            </table>
          </div>
  
        </div>
        <div class="card-footer">
            <div class="right">
              <ngb-pagination
                [collectionSize]="totalCount"
                [pageSize]="pageSize"
                [(page)]="currentPage"
                [maxSize]="2"
                [rotate]="true"
                (pageChange)="onPageChange($event)"
                [boundaryLinks]="false"
              ></ngb-pagination>
              <div class="page-info" >Page {{ currentPage }} of {{ totalCount / pageSize }} Pages ({{ totalCount }} items)</div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- <app-toasts [toasts]="toastService.toasts"></app-toasts> -->
  