/* Add this to your component's SCSS/CSS file */

.positive-balance {
    color: green !important;
    font-size: 20px; font-weight: bold
  }
  
  .negative-balance {
    color: blue !important;
    font-size: 20px; font-weight: bold
  }
  // td{
  //   font-size: 12px !important;
  //   font-family: 'Roboto',sans-serif !important;
  //   font-weight: 400 !important;
  // }