<div class="col-md-12 stretch-card">
    <div class="card">
        <div class="card-header" >
                <div class="row" >
                <div class="col-12 col-md-6" style="padding-right: 10px;">
                    <h5>Payment Receiving From (LENA HE)</h5>
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Contact</th>
                          <th>Open. Bal.</th>
                          <th>Curr. Bal.</th>
                          <th>Cls. Bal.</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let ledger of denaLedgers">
                            <td>{{ ledger.name }}</td>
                            <td>{{ ledger.contact }}</td>
                            <td>{{ ledger.op | number: '1.2-2' }}</td>
                            <td>{{ ledger.curr | number: '1.2-2' }}</td>
                            <td>{{ ledger.cls | number: '1.2-2' }}</td>
                        </tr>
                        <tr>
                            <td class="total">Total</td>
                            <td class="total"></td>
                            <td class="total">{{lenaTotalOpenBal}}</td>
                            <td  class="total">{{lenatoTalCurrBal}}</td>
                            <td class="total">{{lenaTotalClsBal}}</td>
                            
                        </tr>
                      </tbody></table>
                    </div>

                    <div class="col-12 col-md-6">
                        <h5>Payment Receiving From (DENA HE)</h5>
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Contact</th>
                              <th>Open. Bal.</th>
                              <th>Curr. Bal.</th>
                              <th>Cls. Bal.</th>
                            </tr>
                          </thead>
                          <tbody >
                            <tr *ngFor="let ledger of denaLedgers">
                                <td>{{ ledger.name }}</td>
                                <td>{{ ledger.contact }}</td>
                                <td>{{ ledger.op | number: '1.2-2' }}</td>
                                <td>{{ ledger.curr | number: '1.2-2' }}</td>
                                <td>{{ ledger.cls | number: '1.2-2' }}</td>
                            </tr>
                            <tr>
                                <td class="total">Total</td>
                                <td class="total"></td>
                                <td class="total">{{denaTotalOpenBal}}</td>
                                <td  class="total">{{denatoTalCurrBal}}</td>
                                <td class="total">{{denaTotalClsBal}}</td>
                                
                            </tr>
                          </tbody></table>
                        </div>
                </div>
                
        </div>
    </div></div>