th{
    padding-left: 0.25rem  !important;
    padding-right: 0.25rem  !important;
    // background-color: #36304A !important; 
    // color: white !important;
    // border: none !important;
    text-align: center !important;

  }
  td{
    padding-left: 0.25rem  !important;
    padding-right: 0.25rem  !important;
    // background-color: #2F3C4E !important;
    // border: none !important;
    padding-left: 4px;
    text-align: center !important;
    // color: white !important;

  }