// .page-body{
//     margin-left: 75px !important;
// }
.page-sidebar ~ .page-body{
    margin-left: 75px !important;

}
@media only screen and (max-width: 991px) {
    .page-sidebar ~ .page-body{
        margin-left: 15px !important;
    
    }
}
.content-layout {
    display: flex;
  
    app-sidebar {
      height: 100vh;
    }
  
    .main-content {
      flex: 1;
      padding: 20px;
      background: #f8f9fa;
    }
  }
  
  header {
    background: #007bff;
    color: #fff;
    padding: 10px;
    text-align: left;
  
    button {
      background: none;
      border: none;
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
  
      &:hover {
        color: #ddd;
      }
    }
  }
  