h5{
    font-size: 14px !important;
    padding: 10px;
    font-family: 'Roboto',sans-serif;
}
table thead tr th{
    font-family: 'Roboto',sans-serif;
    font-size: 12px !important;
    font-weight: 600;
}
table thead tr td{
    font-family: 'Roboto',sans-serif;
    font-size: 10px !important;
    font-weight: 600;
}

table{
    margin-right: 10px !important;
}
.card-header{
    padding: 5px !important;
}   
.total{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 14px;
    color: white !important;
    background-color: #2F3C4E !important;
    border: none;
}