// .card-header {
//     height: 20px !important;
// }

.card-title{
    color: #4466f2;
}

.form-label{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.card-footer{
    padding: 10px !important;
}

.basic-details{
    background-color: #2f3c4e !important;
    color: white !important;

}